<div class="loginContainer">
  <div class="maintitle">
    <img src="https://imgak.mmtcdn.com/flights/assets/media/dt/listing/Flights-Desktop.gif" alt="">

  <p>We offer easy and convenient flight booking with attractive offers.</p>
  </div>

  <div class="loginCard">
    <div class="loginContent">
    <div class="headingWrapper">
    <h2 class="heading">Login</h2>

    <!-- <p class="subheading">We offer you the best Ticket Booking system</p> -->
    </div>

    <div class="contentSection">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <input required class="input" [(ngModel)]="loginModel.email" type="email" name="email" placeholder="E-mail"><br>
        <input required class="input" [(ngModel)]="loginModel.password"  type="password" name="password" placeholder="Password"><br>

        <button type="submit" class="btn loginButton">Login</button>
      </form>
    </div>
  </div>
  </div>

</div>
