/* Header */

nav.mainHeader {
  background-color: #00000017;
  width: 100%;
  position: absolute;
  z-index: 5;
}

nav.mainHeader .container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.mainHeader ul {
  margin: 0px;
  padding-right: 60px;
}
nav.mainHeader ul li {
  list-style: none;
  display: inline;
  padding: 5px 10px;
  margin: 0px 10px;
}


nav.mainHeader ul li:hover a {
  color:#fff;
  outline: none;

}
nav.mainHeader ul li:hover {
  background: rgb(86 86 86 / 22%);
  border-radius: 5px;
}

nav.mainHeader ul li a:focus {
  color:#fff;
  outline: none;
}
nav.mainHeader ul li a:focus li{
  background: rgb(86 86 86 / 22%);
  border-radius: 5px;
}

.logo {
  width: 70px;
  border-radius: 50%;
  margin: 11px 0px;
}
