    <div appHighlight value="pink" value1="50px" class="sidebar">
        <a appHighlight value="green" class="active" href="#">Dashboard</a>
        <a class="" href="#">Profile</a>
        <a class="" href="#">Logout</a>
        <!-- <a class="" href="#">Home</a>
        <a class="" href="#">Home</a>
        <a class="" href="#">Home</a> -->

    </div>

    <!-- <div class="content">
      <div class="card mainCard">
        <div class="card upperTabs">
          <div class="card-body">
            <ul class="tabButtons">
              <li class="active">Flights</li>
              <li >Schduled Flights</li>
              <li >Cancel Flights</li>
            </ul>
          </div>
        </div>
        <div class="card-body">
        <div class="row">
          <div class="col-md-3 searchCards">
            <div class="card first">
              <div class="card-body">
                <p>From</p>
              <h3>Delhi</h3>
              </div>
              <div class="arrowrightleft">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
              </svg>
            </div>

            </div>
          </div>
          <div class="col-md-3 searchCards">
            <div class="card">
              <div class="card-body">
                <p>To</p>
              <h3>Goa</h3>
              </div>
            </div>
          </div>
          <div class="col-md-2 searchCards">
            <div class="card">
              <div class="card-body">
                <p>Departure</p>
                <h3>26</h3><span>Feb</span>
              </div>
            </div>
          </div>
          <div class="col-md-2 searchCards">
            <div class="card">
              <div class="card-body">
                <p>Return</p>
                <p>Tap to return for get bigger discounts</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 searchCards">
            <div class="card last">
              <div class="card-body">
                <p>Traverllers & Class</p>
                <p>Chosse Class</p>
              </div>
            </div>

          </div>
        </div>


        <button class="searchButton">Search</button>
        </div>
      </div>
    </div> -->
