/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito/Nunito-Light.ttf");
  }

html,body{
    height: 100%;
}
* {
    font-family: "Nunito";
    /* box-sizing: border-box; */
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }

  .homeContainner {
    background-image: url('./assets/images/bg.jpg');
    //  min-height: 500px;
    height: 100%;
    // padding-bottom: 157px;
    /* position: relative; */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .overlay {
    position: absolute;
    background: #5f2c82; /* for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
    background: linear-gradient(to right, #49a09d, #5f2c82);
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 0;
  }

  .mainContainer {
    padding: 130px 50px 80px 30px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  

  
  